{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Resolve Detection{% endblock %}
{% block content %}
<h4>Resolve {{ object.detection_number }}</h4>
<div class="card"><div class="card-body">
<form method="post">{% csrf_token %}{{ form|crispy }}
<div class="d-flex justify-content-end gap-2 mt-3"><a href="{% url 'iot:detection_detail' object.pk %}" class="btn btn-outline-secondary">Cancel</a><button class="btn btn-success"><i class="ri-check-line me-1"></i> Resolve</button></div></form>
</div></div>
{% endblock %}
